.pd_button {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.pd_button_medium {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.pd_button_small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.pd_button_mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.pd_button_default {
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.pd_button_primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}
.pd_button_success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}
.pd_button_info {
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;
}
.pd_button_warning {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
}
.pd_button_danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}
.pd_button_text {
    border-color: transparent;
    color: #409eff;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}
.is_disabled {
    cursor: not-allowed;
}
.is_round {
    border-radius: 20px;
    padding: 12px 23px
}
.pd_button img {
    width: 14px;
    height: 14px;
    border:none;
    vertical-align: top;
}