.title {
    text-align: center
}
.title_img {
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    height: 30px;
}
.img {
    width: 30px;
    height: 30px;
}
.component_example {
    text-align: center;
}